fieldset {
    width: 400px;
    height: 280px;
    border: #add8e6 solid;
  }
  
  form {
    margin: 30px 20px 0 15px;
  }
  
  table {
    border-collapse: separate;
    border-spacing: 15px 15px;
  }
  
  button {
    background-color: #e55b13;
    border: #add8e6 solid;
    border-radius: 10px;
    text-decoration: underline;
    font-weight: bold;
    width: 30%;
    height: 43px;
    margin-left: 140px;
    margin-top: 10px;
    display: inline-flex;
    align-items: flex-start;
    justify-content: center;
    padding-top: 5px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  label {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
  }
  
  #input {
    width: 220px;
  }
  
  .blue-box {
    border: #add8e6 solid;
    line-height: 20px;
    padding: 3px 0px 5px 0px;
  }
  
  .td {
    background-color: #a9cee8;
    vertical-align: middle;
    text-align: center;
    padding: 3px 10px 5px 10px;
    line-height: 20px;
    border: #5289b5 solid;
    border-width: 1.9px;
  }
  
  .gender {
    margin-left: 15px;
    margin-right: 10px;
  }
  